for-each/src/main/mule/for-each-merge.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="for-each-mergeFlow" doc:id="7e7dba55-0ea4-46f2-861c-a7bb184fbfa3" >
		<http:listener doc:name="Listener" doc:id="cd0b7e2e-332b-4dd2-aa6e-9697e04ada7f" config-ref="HTTP_Listener_config" path="/merge"/>
		<set-variable value="#[payload]" doc:name="input1" doc:id="fbc7f7c1-e99a-4581-9af0-ff8a2faf7197" variableName="input1" mimeType="application/json"/>
		<file:read doc:name="Read" doc:id="11569e4a-60ba-4c6e-b2f6-b568f88213b9" config-ref="File_Config" path="input2.json"/>
		<ee:transform doc:name="Transform Message" doc:id="44737572-7ba6-4528-84cc-a3e219e8bbd2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import mergeWith from dw::core::Objects
output application/json
---
vars.input1 mergeWith payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c87468e1-f37c-43a3-94fc-8870a9e07ea0" />
	</flow>
</mule>
